################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuanLyBanHangCSharpMVC/v16/Server/sqlite3/storage.ide
/.vs/QuanLyBanHangCSharpMVC/v16/Server/sqlite3/db.lock
/.vs/QuanLyBanHangCSharpMVC/v16/.suo
/.vs/QuanLyBanHangCSharpMVC/config/applicationhost.config
/.vs/QuanLyBanHangCSharpMVC/v16/Server/sqlite3/storage.ide-wal
/.vs/QuanLyBanHangCSharpMVC/v16/Server/sqlite3/storage.ide-shm
Models/bin
QuanLyBanHangCSharpMVC/bin
Models/obj
QuanLyBanHangCSharpMVC/obj
QuanLyBanHangCSharpMVC/Content/Images
.vscode
